.shopify-section:not(:first-child) .bordered-section {
  border-block-start-width: 1px;
}

.shopify-section:empty {
  display: none;
}

.container {
  --distance-to-bleed: max(var(--container-gutter), 50% - var(--container-max-width) / 2);
  margin-inline-start: max(var(--container-gutter), 50% - var(--container-max-width) / 2);
  margin-inline-end: max(var(--container-gutter), 50% - var(--container-max-width) / 2);
}

.container--xxs {
  --container-max-width: var(--container-xxs-width);
}

.container--xs {
  --container-max-width: var(--container-xs-width);
}

.container--sm {
  --container-max-width: var(--container-sm-width);
}

.container--md {
  --container-max-width: var(--container-md-width);
}

.container--lg {
  --container-max-width: var(--container-lg-width);
}

.container--xl {
  --container-max-width: var(--container-xl-width);
}

.section-header {
  max-width: min(var(--container-xs-max-width), 100%);
  margin-inline-start: var(--container-gutter);
  margin-inline-end: var(--container-gutter);
}

.container .section-header {
  margin-inline: 0;
}